// colors

$customBlue: #3289ee;
$customGrey: #f3f4f5;
$customPink: #e84994;
$customGreyText: #8c969f;


// mixins

%InnerPadding {
  padding-right: 15px;
  padding-left: 15px;
}

%Hoverable {
  &:hover {
    cursor: pointer;
  }
}

// fonts

$baseFont: 'Roboto', 'Arial', 'Helvetica', sans-serif;
