.Wrapper {
  opacity: 1;
  padding: 20;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Wrapper__left {
  transition: transform 300ms ease-in-out;
  transform: translate3d(100%, 0, 0);
  z-index: 20;
  &.Wrapper__entering {
    transform: translate3d(100%, 0, 0);
  }

  &.Wrapper__entered {
    transform: translate3d(0, 0, 0);
  }

  &.Wrapper__exiting{
    transform: translate3d(100%, 0, 0);
  }

  &.Wrapper__exited{
    transform: translate3d(100%, 0, 0);
  }
}

.Wrapper__up {
  [data-modal-overlay] {
    opacity: 0;
  }
  [data-modal-wrapper] {
    transition: transform 300ms ease-in-out;
    transform: translate3d(0, 100%, 0);
  }
  z-index: 19;
  &.Wrapper__entering {

    [data-modal-overlay] {
      opacity: 0;
    }
    [data-modal-wrapper] {
      transform: translate3d(0, 100%, 0);
    }
  }

  &.Wrapper__entered {
    [data-modal-overlay] {
      opacity: 1;
    }
    [data-modal-wrapper] {
      transform: translate3d(0, 0, 0);
    }
  }

  &.Wrapper__exiting{
    [data-modal-overlay] {
      opacity: 1;
    }
    display: none;
  }
}
