@import '../../static/styles/shared.scss';

.Wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.CurrencyRateDisplayContainer {
  height: 0;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.CurrencyRateDisplay {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #f0f1f2;
  min-width: 165px;
  max-width: 220px;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
  color: $customBlue;
  svg {
    margin-right: 5px;
    position: relative;
    bottom: -2px;
  }
}

.ButtonContainer {
  @extend %InnerPadding;
  background-color: $customGrey;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.Button {
  background-color: darken(#f3c1e4, 10%);
  box-shadow: 0 7px 12px rgba(235, 150, 209, 0.3);
  border: none;
  border-radius: 20px;
  width: 100%;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 14px;
  outline: none;
  font-size: 14px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;;
  transition: 0.3s background-color;

  &[disabled] {
    background-color: #f3c1e4;
    cursor: not-allowed;
  }
}
