@import '../../static/styles/shared.scss';

.Wrapper {
  padding-top: 13px;
}

.OtherCurrenciesButton {
  border-top: 2px solid $customGrey;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  font-weight: 500;
  color: $customBlue;
  @extend %InnerPadding;
  @extend %Hoverable;

  svg {
    margin-right: 26px;
  }
}
