@import '../../static/styles/shared.scss';

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 10;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
  transition: 0.4s opacity;
}

.Wrapper {
  padding-top: 17px;
  width: 100%;
  z-index: 11;
  background: #fff;
}

.Heading {
  @extend %InnerPadding;
  font-weight: 500;
  font-size: 18px;
}
