@import '../../static/styles/shared.scss';

.Wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
}

.InnerContainer {
  flex-grow: 1;
  margin-left: 35px;
  font-weight: 500;
  font-size: 18px;
}

.CloseButton,
.SearchButton,
.BackButton  {
  width: 20px;
  height: 20px;
  background-color: #fff;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  @extend %Hoverable;
}

.SearchInput {
  font-family: $baseFont;
  border: none;
  outline: none;
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: $customGreyText;
  }
  &::-moz-placeholder {
    color: $customGreyText;
  }
  &:-ms-input-placeholder {
    color: $customGreyText;
  }
  &:-moz-placeholder {
    color: $customGreyText;
  }
}
