@import '../../static/styles/shared.scss';

.Wrapper {
  background-color: #fff;
  @extend %InnerPadding;
  padding-top: 15px;
  padding-bottom: 30px;
  &__grey {
    background-color: $customGrey;
    padding-top: 34px;

    .Wallet {
      color: $customGreyText;
    }
  }
}

.CurrencyContainer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 27px;
}

.Display {
  max-width: 70%;
  text-align: right;
}

.Wallet {
  font-size: 12px;
  color: $customPink;
}

.InputContainer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.Dimmed {
  color: $customGreyText;
}

.Input {
  &.Dimmed {
    input {
      color: $customGreyText;
    }
  }
  input {
    text-align: right;
    border: none;
    display: inline-block;
    outline: none;
  }
}
