@import '../../static/styles/shared.scss';

.Wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
}

.Header {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
}

.InnerContainer {
  padding-top: 31px;
  border-top: 1px solid $customGrey;
  height: 100%;
  overflow: scroll;
  margin-top: 54px;
}

.Heading {
  @extend %InnerPadding;
  font-size: 12px;
  color: $customGreyText;
  margin-bottom: 17px;
}

.RecentlyUsedList {
  margin-bottom: 25px;
}
