@import './static/styles/shared.scss';

.Container {

  @media screen and (max-width: 700px) {
    display: block;
    height: auto;
  }

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  height: 100%;
}

.Wrapper {
  background-color: $customGrey;
  position: relative;
  min-width: 320px;
  max-width: 320px;
  max-height: 550px;
  min-height: 550px;
  overflow: scroll;
  margin: auto;

  @media screen and (max-width: 700px) {
    margin-top: 0;
  }

  @media screen and (max-width: 500px) {
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
  }

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.Button {
  background-color: red;
}

.StockButtonImage {
  width: 18px;
  height: 18px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
