@import './static/styles/reset.css';
@import './static/styles/shared.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$customGrey: #f3f4f5;
$customBlack: #191c1f;

html {
  height: 100%;
}
body {
  font-family: $baseFont;
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #fc5c7d, #6a82fb);
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: $customBlack;
  height: 100%;
  [id="root"] {
    height: 100%;
  }
}

// safari autoresizing input fix
[data-fixed="true"] {
  width: 176px!important;
}
